# Virtual environment
ezAnalyze/

# Python cache files
__pycache__/
*.pyc
.pytest_cache/

# User data and exports
data/
reports/
plots/
exports/

# Project documentation files
Final Project- Research Data Analysis Toolkit.docx
Final Project- Research Data Analysis Toolkit.md
